<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="about">
        <h4 class="about__title">About</h4>
        <p class="about__text">Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiumod tempor incididunt
          ultimam </p>
      </div>
      <div class="footer__inner">
        <div class="footer__item">
          <h4>About</h4>
          <ul class="footer__menu">
            <li><a href="#">Team</a></li>
            <li><a href="#">Join us</a></li>
            <li><a href="#">Ethic</a></li>
            <li><a href="#">Goals</a></li>
          </ul>
        </div>
        <div class="footer__item">
          <h4>About</h4>
          <ul class="footer__menu">
            <li><a href="#">Team</a></li>
            <li><a href="#">Join us</a></li>
            <li><a href="#">Ethic</a></li>
            <li><a href="#">Goals</a></li>
          </ul>
        </div>
        <div class="footer__item">
          <h4>About</h4>
          <ul class="footer__menu">
            <li><a href="#">Team</a></li>
            <li><a href="#">Join us</a></li>
            <li><a href="#">Ethic</a></li>
            <li><a href="#">Goals</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>