@font-face {
  font-family: "GoodDogCool";
  src: url("../fonts/GuterHund.eot"); /* IE9 Compat Modes */
  src: url("../fonts/GuterHund.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/GuterHund.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/GuterHund.woff") format("woff"), /* Modern Browsers */
    url("../fonts/GuterHund.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}