html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

html, body{
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

body{
  color: #eaeaea;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  background-color: $bgc;
}

a{
  color: #eaeaea;
  text-decoration: none;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.off{
  display: none;
}

.container{
  max-width: 1080px;
  margin: 0 auto;
}