.header {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100vw;
  transition: all .5s;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 3vw;
    width: 100%;
  }

  &__logo img {
    height: 100px;
  }

  &__nav{
    ul li{
      display: inline-block;
      
      @include f400;
      a{
        font-size: 26px;
        text-transform: uppercase;
        color: $text;
        transition: all .3s;
        padding: 0 15px;
        
        &:hover{
          color: white;
          background-color: $green;
        }
      }
    }
  }
}

.scrolled{
  position: fixed;

  .header__wrapper{
    background-color: rgba(255, 255, 255, .3);
    padding: 10px 15px;

    img{
      height: 50px;
    }
  }
}