@import 'vars';
@import 'fonts';
@import 'global';

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
@import 'header';

.toppage {
  min-height: 100vh;
  width: 100vw;
  @include bgimg;
  display: flex;
  justify-content: flex-end;
  align-items: top;

  &__wrapper {
    margin-right: 10vw;
    margin-top: 21vh;
  }

  &logo {
    margin-bottom: 112px;
  }

  &__title {
    font-size: 47px;
    @include f700;
    text-transform: uppercase;
    color: $green;
    line-height: 50px;
    margin-bottom: 150px;

    h2 {
      @include f400;
      margin-bottom: 40px;
      color: $text;
      font-size: 57px;
    }
  }

  &__link {
    font-size: 36px;
    @include f400;
    text-transform: uppercase;
    color: $text;
    background-color: rgba(93, 105, 66, 0.5);
    padding: 30px 27px;
    transition: all .3s;

    &:hover {
      background-color: $green;
      color: white;
    }
  }
}

.description {
  &__wrapper {
    min-height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
  }

  &__content {
    max-width: 50%;
    padding-left: 100px;
    padding-right: 83px;

    &-title {
      @include title;
      font-size: 3vw;
      color: $text;
      display: block;
    }

    &-text {
      font-size: 1.5vw;
      line-height: 30px;
      color: white;
    }
  }

  &__bg {
    height: 100%;
    min-height: 490px;
    min-width: 50%;
    @include bgimg;
    background-position: left center;
    background-size: 134%;
  }
}

.priorities {
  background-color: rgba(78, 83, 66, .8);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 95px 0;
  }

  &__inner {
    width: 310px;
    margin: 0 30px;

    &-title {
      @include title;
      font-size: 2.5vw;
      margin-top: 26px;
      margin-bottom: 33px;
    }

  }
}

.plate {
  &__wrapper {
    background-color: #4e5342;
    margin: 88px 0;
  }

  &__title {
    text-align: center;
    padding: 65px 0;

    &-text {
      @include title;
      font-size: 46px;
      line-height: 60px;
      color: $text;

      span {
        display: block;
        @include f300;
        color: #eaeaea;
        text-transform: uppercase;
        font-size: 42px;
        line-height: 63px;
      }
    }
  }

  &__product-wrapper {
    display: flex;
    flex-wrap: wrap;

    .product__item {
      max-width: 50%;
      display: flex;
      min-width: 540px;

      img {
        height: 274px;
        width: 270px;
        object-fit: cover;
      }

      &-description {
        width: 270px;
        height: 274px;
        text-align: center;
      }

      &.leftside__item {
        flex-direction: row;
      }

      &.rightside__item {
        flex-direction: row-reverse;
      }

      .product__item-title {
        @include title;
        color: $text;
        font-size: 29px;
        margin-bottom: 25px;
      }

      .product__item-text {
        @include f400;
        font-size: 13px;
        color: #e8e8e8;
        padding: 0 60px;
        margin: 20px 0;
      }

      .product__item-price {
        @include title;
        font-size: 25px;
        color: #e8e8e8;
        text-transform: uppercase;
      }
    }
  }
}

.motto {
  background-color: #4e5342;

  &__wrapper {
    max-width: 700px;
    padding: 100px;
    text-align: center;
    margin: 0 auto;
  }

  &__title {
    @include title;
    color: $text;
    font-size: 42px;
  }

  &__text {
    color: #dcdcdc;
    @include f400;
    font-size: 21px;
    margin-bottom: 50px;
  }

  &__images {
    width: 85px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.discover {
  background-image: url(../img/motto-bg.jpg);
  @include bgimg;
  background-position: center top;
  padding-top: 238px;
  padding-bottom: 889px;

  &__content {
    background-color: #4e5342;
    text-align: center;
  }

  &__title {
    @include title;
    font-size: 71px;
    padding-top: 60px;

    span {
      display: block;
      @include f300;
      color: #eaeaea;
      text-transform: uppercase;
      font-size: 46px;
      line-height: 63px;
      padding-top: 15px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
  }

  &__item {
    flex-basis: 430px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    min-height: 80px;
    margin: 0 30px 55px;

    &-icon {
      border-radius: 50%;
      min-width: 81px;
      height: 81px;
      background-color: rgba(231, 231, 231, .8);
      margin-right: 10px;

      img {
        margin: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-title {
      @include title;
      font-size: 25px;
      margin-bottom: 14px;
    }

    &-text {
      @include f400;
      font-size: 16px;
    }

    &-price {
      @include title;
      font-size: 21px;
    }
  }
}

.book {
  &__wrapper {
    margin-bottom: 71px;
  }

  &__title {
    @include title;
    font-size: 77px;
    padding-top: 46px;
    text-align: center;
    margin-bottom: 38px;
    line-height: 77px;
  }

  &__form-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 20px;

    .form__btn-wrapper {
      width: 100%;
      text-align: center;

      button {
        margin: 0 auto;
        width: 240px;
        background-color: transparent;
        color: white;
        border-radius: 8px;
        border: 2px solid #ffffff;
        height: 33px;
        text-transform: uppercase;
        @include f700;
        font-size: 17px;
      }
    }
  }

  &__form-box {
    width: 240px;

    label {
      position: relative;

      span {
        display: block;
        color: white;
        @include f700;
        font-size: 13px;
        padding-bottom: 11px;
      }

      input,
      .jq-selectbox,
      .styler,
      select {
        width: 100%;
        background-color: transparent;
        color: white;
        border-radius: 8px;
        border: 2px solid #ffffff;
        padding: 10px;
        outline: none;
        height: 33px;
        margin-bottom: 45px;
      }

      input[type=date]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        display: none;
      }

      input[type=time]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        display: none;
      }

      input[type=date]::-webkit-calendar-picker-indicator {
        display: none;
      }

      .jq-selectbox__select {
        line-height: 17px;
        position: relative;
        margin-top: -5px;
      }

      .jq-selectbox__trigger-arrow::before {
        content: "\f0d7";
        position: absolute;
        top: 0px;
        right: 0px;
        color: #fff;
        font-family: 'icomoon';
      }

      .jq-selectbox__dropdown {
        width: 100%;
        border-radius: 8px;
        border: 2px solid #ffffff;
        padding: 10px;
        position: absolute;
        left: 0;
        background-color: $bgc;
      }
    }

    .date::before {
      content: '\e901';
    }

    .time::before {
      content: '\e900';
    }

    .date::before,
    .time::before {
      font-family: 'icomoon';
      position: absolute;
      top: 40px;
      right: 4px;
      background-color: $bgc;
      height: 24px;
      width: 17px;
    }
  }
}

.menu {
  &__bg {
    @include bgimg;
    width: 100vw;
    height: 864px;
  }

  &__wrapper {
    background-color: #4e5342;
    width: 100%;
    padding-bottom: 122px;
  }

  &__title {
    @include title;
    font-size: 77px;
    line-height: 60px;
    color: $text;
    text-align: center;
    margin: 0;
    padding: 60px 0;

    span {
      display: block;
      @include f300;
      color: #eaeaea;
      text-transform: uppercase;
      font-size: 48px;
      line-height: 63px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
  }

  &__item {
    background-color: #e7e7e7;
    max-width: 339px;
    width: 100%;
    color: #555555;

    img {
      object-fit: cover;
      max-height: 301px;
    }

    &-content {
      padding: 25px 20px;
    }

    .category {
      font-size: 14px;
      line-height: 33px;
      letter-spacing: 1.05px;
      @include f700;
    }

    .content__title {
      color: #4f4e4e;
      margin: 0;
      padding: 22px 0 7px;
      font-size: 18px;
      @include f700;
    }

    .content__text {
      margin: 0;
      padding: 0;
      font-size: 17px;
      color: #4f4e4e;
      padding-bottom: 26px;
    }

    .content__link {
      color: #555555;
      @include f700;
      text-transform: uppercase;
      line-height: 33px;
      letter-spacing: 1.05px;
      font-size: 14px;
      border-bottom: 7px solid $text;
      transition: all .5s;
      padding-bottom: 5px;

      &:hover {
        color: $text;
      }
    }
  }
}

.social {
  background-color: #212121;
  color: $text;

  &__wrapper {
    padding: 85px 0 50px;
    margin: 0 auto;
    text-align: center;
    width: 700px;
  }

  &__upper-text {
    @include title;
    font-size: 83px;
    padding: 0 0 28px;
    display: block;
  }

  &__text {
    @include f400;
    font-size: 19px;
  }

  &__title {
    @include title;
    font-size: 29px;
    line-height: 33px;
  }

  ul {
    display: flex;
    width: 330px;
    justify-content: space-between;
    margin: 0 auto;
    li{
    display: inline-block;
    border-radius: 50%;
    height: 46px;
    width: 46px;
    background-color: #e7e7e7;
    position: relative;
    font-family: 'icomoon';
    a::before{
      font-family: 'icomoon';
      color: #212121;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 25px;
    }
}}


}

@import 'footer';

//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import 'media';