@import 'vars';
@import 'fonts';
@import 'global';

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
@import 'header';

.toppage {
  min-height: 100vh;
  width: 100vw;
  @include bgimg;
  display: flex;
  justify-content: flex-end;
  align-items: top;

  &__wrapper {
    margin-right: 10vw;
    margin-top: 21vh;
  }

  &logo {
    margin-bottom: 112px;
  }

  &__title {
    font-size: 4vw;
    @include f700;
    text-transform: uppercase;
    color: $green;
    line-height: 6vh;
    margin-bottom: 15vh;

    h2 {
      @include f400;
      margin-bottom: 3vh;
      color: $text;
      font-size: 5vw;
    }
  }

  &__link {
    font-size: 2.5vw;
    @include f400;
    text-transform: uppercase;
    color: $text;
    background-color: rgba(93, 105, 66, 0.5);
    padding: 30px 27px;
    transition: all .3s;

    &:hover {
      background-color: $green;
      color: white;
    }
  }
}

.description {
  &__wrapper {
    min-height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
  }

  &__content {
    max-width: 50%;
    padding-left: 100px;
    padding-right: 83px;

    &-title {
      @include title;
      font-size: 3vw;
      color: $text;
      display: block;
    }

    &-text {
      font-size: 1.5vw;
      line-height: 30px;
      color: white;
    }
  }

  &__bg {
    height: 100%;
    min-height: 490px;
    min-width: 50%;
    @include bgimg;
    background-position: left center;
    background-size: 134%;
  }
}

.priorities {
  background-color: rgba(78, 83, 66, .8);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 95px 0;
  }

  &__inner {
    width: 310px;

    &-title {
      @include title;
      font-size: 2.5vw;
      margin-top: 26px;
      margin-bottom: 33px;
    }

  }
}

.plate {
  &__wrapper {
    background-color: #4e5342;
    margin: 88px 0;
  }

  &__title {
    text-align: center;
    padding: 65px 0;

    &-text {
      @include title;
      font-size: 46px;
      line-height: 60px;
      color: $text;

      span {
        display: block;
        @include f300;
        color: #eaeaea;
        text-transform: uppercase;
        font-size: 42px;
        line-height: 63px;
      }
    }
  }

  &__product-wrapper {
    display: flex;
    flex-wrap: wrap;

    .product__item {
      max-width: 50%;
      display: flex;

      img {
        height: 274px;
        width: 270px;
        object-fit: cover;
      }

      &-description {
        width: 270px;
        height: 274px;
        text-align: center;
      }

      &.leftside__item{
        flex-direction: row;
      }

      &.rightside__item{
        flex-direction: row-reverse;
      }

      .product__item-title{
        @include title;
        color: $text;
        font-size: 29px;
        margin-bottom: 25px;
      }

      .product__item-text{
        @include f400;
        font-size: 13px;
        color: #e8e8e8;
        padding: 0 60px;
        margin: 20px 0;
      }

      .product__item-price{
        @include title;
        font-size: 25px;
        color: #e8e8e8;
        text-transform: uppercase;
      }
    }
  }
}


//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import 'media';